
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container{
    height: 80%;
}

#main-page{
    visibility: hidden;
    width:100%;
    
}
.main-bar{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    position: absolute;
    top: 13%;

}
.main-btn{
    margin:1%;
}

#no-posts{
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 45%;
}

#add-posts{
    height:50%;
    width:40%;
    visibility: hidden;
    position: absolute;
    top: 20%;
    left: 35%;
}

#add-posts-main{

    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#add-posts-main>*{
    margin:5%;
}

#add-posts-submit{
    width:17%;
}

.login,.register{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
#login{
    visibility: visible;
}
#register{
    visibility: hidden;
}
input{
    width: 70%;
}

.username,.pwd,.confirm,.email,.name{
    
    height: 8%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pop-error{
    visibility: hidden;
    color: red;
    position: relative;
    left: 30%;
}

#cpwd_mismatch_error{
    /*color: red;*/
    position: absolute;
    left: 34%;
    bottom: 13.5%;
    padding-top: 5%;
    visibility: hidden;
}

#cpwd_mismatch_error_reg{
    /*color: red;*/
    position: absolute;
    left: 34%;
    bottom: 40%;
    padding-top: 5%;
    visibility: hidden;
}

/*#username_error,#pwd_error,#cpwd_empty_error,#cpwd_mismatch_error,*/
/*#username_error_reg,#pwd_error_reg,#cpwd_empty_error_reg,#cpwd_mismatch_error_reg,*/
/*#email_error,#name_error{*/
/*    visibility: hidden;*/
/*}*/
/*#pwd_error{
    visibility: hidden;
}
#cpwd_empty_error{
    visibility: hidden;
}*/

h4{
    margin-top:1%; 
}


span{
    font-size: 25px;
}
.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:white;
    min-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

footer {
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 10px;
    background-color:white;
    min-height: 60px;
    text-align: right;
}

.banner > *, footer > * {
    margin: 10px 25px;
}



.nav{
    list-style-type: none;
    padding: 0;
    
}

.lgout{
    visibility: hidden;
    position: absolute;
    top: 2.5%;
    right:9%;
}


.nav-item{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 5px;
    display: inline;
    list-style-type: none;
}

#my-profile,#user-profile{
    height:50%;
    width:55%;
    visibility: hidden;
    position: absolute;
    bottom: 30%;
    left: 20%;
}

.pf:not(#pf_header_un){

    display: flex;
    justify-content: space-around;

}
#pf_header_un{
    display:flex;
    padding-left:7.5%;

}
#pf_username{
    padding-left:5%;
}


.pf_content{
   
    padding-top: 10px;
    display: flex;
    align-content: center;
    text-align: center;
    width: 50%;

}
.pf_header{
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

/*#my-profile:first-child{*/
/*    padding-left: 0;*/
/*}*/
.edit{
    height: 40%;
    position: relative;
    margin-top:3%;
    

}

#edit-submit{
    visibility:hidden;
    position:absolute;
    left:50%;
    bottom:0;

}
table{
    position: absolute;
    top: 25%;
    left: 7.5%;

    /*width: 60%;*/
    /*height: 75%;*/
}



#personal-posts{
    overflow: scroll;
    position: absolute;
    padding:1%;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 65%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2%;
    grid-row-gap: 3%;


}
.grid-item{
    height: 30vw;
    width:20vw;
   


}
.grid-item img{
    height:20vw;
    width:20vw;
}

.author-date{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.author-date :last-child{
    font-size: 1px;
}

.author-date :first-child{
    font-size: 20px;
    font-weight: bold;
}

.metaData{
    height:30%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.icons{
    margin: 5px 0 0 0;
    display:flex;
    text-align:center;
}
.icons *{
    margin: 0 10px 0 0;
    display:flex;
}
.icons * :last-child{
    padding-top:3%;
    text-align:center;
}

#all-posts{
    visibility: hidden;
    height:70%;
    width:70%;
    position:absolute;
    top:60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    justify-content:center;
}

.follow-container {
    width:30%;
    padding:10px;
    border: 1px solid;
    border-radius:15px;
}
.posts{
    overflow:scroll;
    width:50%;
    padding:10px;
    border: 1px solid;
    border-radius:15px;
}

.post{
    display: flex;
    justify-content: center;
}
#comments{
    height:30vw;
}


#comments-content{
    margin:0 0 0 1vw;
    height:66%;
    overflow:scroll;
}

#user-profile{
    display:grid;
    grid-template-columns:auto auto;
}
.user-profile{
    display:flex;
    
}
.user-profile > span{
    margin-left:5%;
    display:flex;
    align-items:center;

}
.user-profile > button:not(.follow){
    font-size:large;
    font-weight:bold;
    padding:6% 0 0 0;
    background:none;
    border:none;
}
#comments{
    width:40%;
}


.comments-content>span{
    word-wrap:break-word;

    width:20%;
    font-size:1.5vw;
    font-weight:normal;
}

.comments-content>div{
    width:40%;
    font-size:1%;
    margin:1vw 0 0 0;
}
.comment-user{
    padding-left:0;
    font-size:medium;
    font-weight:bolder;
    padding-top:4%;
}

/* Add your styles here */