
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container{
    height: 80%;
}

#main-page{
    visibility: hidden;
    width:100%;
    
}
.main-bar{
    visibility:hidden;
    width:45%;
    display:flex;
    align-items:center;
    justify-content:space-around;
    top: 13%;

}

.main-bar > button{
    color:	#00CED1;
    cursor: pointer;
    background: none;
    border: none;
    font-size: medium;
    font-weight: bold;
}
.main-btn{
    margin:1%;
}

#no-posts{
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 45%;
}

#add-posts{
    height:50%;
    width:40%;
    visibility: hidden;
    position: absolute;
    top: 20%;
    left: 35%;
}

#add-posts-main{

    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#add-posts-main>*{
    margin:5%;
}

#add-posts-submit{
    width:17%;
}

.login,.register{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
#login{
    visibility: visible;
}
#register{
    visibility: hidden;
}
input{
    width: 70%;
}

.username,.pwd,.confirm,.email,.name{
    
    height: 8%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pop-error{
    visibility: hidden;
    color: red;
    position: relative;
    left: 30%;
}

#cpwd_mismatch_error{
    /*color: red;*/
    position: absolute;
    left: 34%;
    bottom: 13.5%;
    padding-top: 5%;
    visibility: hidden;
}

#cpwd_mismatch_error_reg{
    /*color: red;*/
    position: absolute;
    left: 34%;
    bottom: 40%;
    padding-top: 5%;
    visibility: hidden;
}

/*#username_error,#pwd_error,#cpwd_empty_error,#cpwd_mismatch_error,*/
/*#username_error_reg,#pwd_error_reg,#cpwd_empty_error_reg,#cpwd_mismatch_error_reg,*/
/*#email_error,#name_error{*/
/*    visibility: hidden;*/
/*}*/
/*#pwd_error{
    visibility: hidden;
}
#cpwd_empty_error{
    visibility: hidden;
}*/

h4{
    margin-top:1%; 
}


span{
    font-size: 25px;
}
.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:white;
    min-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

footer {
    box-sizing:border-box;
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 5px;
    background-color:white;
    text-align: right;
}


.banner > *, footer > * {
    margin: 10px 25px;
}



.nav{
    
    list-style-type: none;
    padding: 0;
    
}
#login-btn,#register-btn,lgout>button{
    cursor:pointer;
    background:none;
    border:none;
    font-size:medium;
    margin:0.5vw;
}

.lgout{
    visibility: hidden;
    position: absolute;
    top: 2.5%;
    right:9%;
}


.nav-item{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 5px;
    display: inline;
    list-style-type: none;
}

#my-profile,#user-profile{
    height:50%;
    width:55%;
    visibility: hidden;
    position: absolute;
    bottom: 30%;
    left: 20%;
}

.pf:not(#pf_header_un){

    display: flex;
    justify-content: space-around;

}
#pf_header_un{
    display:flex;
    padding-left:7.5%;

}
#pf_username{
    padding-left:5%;
}


.pf_content{
   
    padding-top: 10px;
    display: flex;
    align-content: center;
    text-align: center;
    width: 50%;

}
.pf_header{
    width: 30%;
    display: flex;
    justify-content: flex-start;
}

/*#my-profile:first-child{*/
/*    padding-left: 0;*/
/*}*/
.edit,#view_follow{
    height: 40%;
    position: relative;
    margin-top:3%;
    

}

#edit-submit{
    visibility:hidden;
    position:absolute;
    left:50%;
    bottom:0;

}
table{
    position: absolute;
    top: 25%;
    left: 7.5%;

    /*width: 60%;*/
    /*height: 75%;*/
}



#personal-posts, #up-container{
    overflow: scroll;
    position: absolute;
    padding:1%;
    top: 20%;
    left: 10%;
    width: 80%;
    height: 65%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 2%;
    grid-row-gap: 3%;


}

#up-container{
    top:10vw;
}

.grid-item{
    display:flex;
    flex-direction:column;
    padding:0 0 0 1vw;
    height: 30vw;
    width:20vw;
   


}
.grid-item img{
    height:20vw;
    width:20vw;
}

.author-date{
    height:3.2vw;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.author-date :last-child{
    font-size: 1px;
    display:flex;
    align-items:flex-end;
}

.author-date :first-child{
    border:none;
    background:none;
    margin-top:0.5vw;
    height:60%;
    font-size: 20px;
    font-weight: bold;
}

.metaData{
    height:30%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
#description_text{
    word-wrap:break-word;
    padding:1vw 0 0 0;
}
.icons{
    margin: 5px 0 0 0;
    display:flex;
    text-align:center;
}
.icons *{
    margin: 0 10px 0 0;
    display:flex;
}
.icons * :last-child{
    padding-top:3%;
    text-align:center;
}

#all-posts{
    visibility: hidden;
    height:70%;
    width:70%;
    position:absolute;
    top:52%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex;
    justify-content:center;
}

.follow-container {
    background-color:#F0FFF0;
    width:30%;
    padding:10px;
    border: 2px solid #D3D3D3;
    border-radius:15px;
}

.follow{
    overflow:scroll;
}
.posts{
    background-color:#AFEEEE;
    overflow:scroll;
    box-sizing:border-box;
    width:60%;
    padding:20px;
    border: 2px solid #D3D3D3;
    border-radius:15px;

}

.post{
    border: 2px solid #D3D3D3;
    border-radius:20px;
    margin-bottom:2vw;
    background-color:#E0FFFF;
    display: flex;
    justify-content: center;
}
#comments{
    margin-left:1vw;
    
    height:30vw;

}


#comments-content{
    border:2px solid;
    border-radius:15px;
    margin:1.5vw 1vw 0 0;
    height:60%;
    overflow:scroll;
}
#add-comment{
    margin: 0.5vw 1vw 0 0;
    
}
#add-comment > textarea{
    margin: 0 0 0.2vw 0;
}
#user-profile{
    display:grid;
    grid-template-columns:auto auto;
}
.user-profile{
    display:flex;
    
}
.user-profile > span{
    margin-left:5%;
    display:flex;
    align-items:center;

}
.user-profile > button{
    height:2.5vw;
    margin:0.8vw 0 0 3vw;
}
#comments{
    
    width:45%;
}

.comments-content{
    padding:1vw 0 0 1vw;
}

.comments-content>span{
    word-wrap:break-word;

    width:20%;
    font-size:1.5vw;
    font-weight:normal;
}

.comments-content>div{
    width:40%;
    font-size:1%;
    margin:1vw 0 0 0;
}
.comment-user{
    padding-left:0;
    font-size:medium;
    font-weight:bolder;
    padding-top:4%;
}

#comment-header{
    display:flex;
    justify-content:center;
    background-color:#E0FFFF;
    width:7.5vw;
    top:2.3vw;
    left:0.5vw;
    position:relative;
}

.follow-window{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    transition:200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
    overflow:scroll;
}

.follow-window.active{
    transform: translate(-50%, -50%) scale(1);
}
.window-header{
    
    flex-direction:row;
    padding:10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.window-header .window-title{
    font-size: 1.25rem;
    font-weight: bold;
}

.window-header .close-window-btn{
    cursor: pointer;
    border: none;
    outline: none;
    background: 1.25rem;
    font-weight: bold;
}

.pp-window-body {
    padding: 10px 15px;
}

#my-overlay #user-overlay #up-overlay{
    position: fixed;
    opacity: 0;
    transition:200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    pointer-events: none;
}

#my-overlay.active #user-overlay.active #up-overlay.active{
    opacity: 1;
    pointer-events: all;
}

.user_content{
    padding:0 0 2vw 2vw;
}

#user-posts >h1{
    position:absolute;
    top:5vw;
    left:50%;
    transform:translate(-50%,0);
}
/* Add your styles here */

#up-follow-window{
    padding:1vw 0 0 0;
    height:80%;
    
}

.up-window-body{
    padding:0.5vw 0 0 1vw;
}

.up-window-body >div >div{
    display:flex;
    align-items:center
}

.up-window-body >div >div >button{
    border:none;
    background:none;
    font-size:medium;
    height:2vw;
}
.up-window-body >div >h4{
    font-size:1px;
    font-weight:200;
    padding-left:0.5vw;
}

.icons >div >button{
    border:none;
    background:none;

}

.icons{
    margin:0 0 0.5vw 0;
}

#comments > div >h4{
    font-size:small;
    overflow:scroll;
}

.follow ul {
    padding: 0;
    list-style-type: none;
}

@media only screen and (max-width: 414px) {
  #all-posts{
      width:90%;
  }
  #comment-header ,#comments-content {
    display:none;
  }
  .post{
      display:flex;
      flex-direction:column;
      justify-content:center;

  }
  .grid-item{
      display:flex;
      justify-content:space-between;
      padding:0 0 0 3vw;
      height:40vw;
  }
  #description_text{
      width:70vw;
  }
  .date{
      font-size:xx-small;
      margin:13vw 0 0 0;
  }
  img{
      padding:5vw 0 0 0;
  }
  #add-comment textarea{
      width:30vw;
  }
}

@media only screen and (max-width: 768px){
    #comment-header{
        display:none
    }
    #add-comment>textarea{
        width:90%;
        margin:0 0 0 0;
    }
    .date{
      visibility:hidden;
    }
    .post{
        height:35vw;
    }
}