
/* base styles, feel free to edit */
html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    height: 100%;
    font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-container{
    height: 80%;
}

#main-page{
    visibility: hidden;
    width:100%;
    
}
.main-bar{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    position: absolute;
    top: 13%;

}
.main-btn{
    margin:1%;
}

#no-posts{
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 45%;
}

#add-posts{
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 38%;
}

#add-posts-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login,.register{
    position:absolute;
    top:25%;
    left: 25%;
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}
#login{
    visibility: visible;
}
#register{
    visibility: hidden;
}
input{
    width: 70%;
}

.username,.pwd,.confirm,.email,.name{
    
    height: 8%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#username_error,#pwd_error,#cpwd_empty_error,#cpwd_mismatch_error,
#username_error_reg,#pwd_error_reg,#cpwd_empty_error_reg,#cpwd_mismatch_error_reg,
#email_error,#name_error{
    
    color: red;
    position: relative;
    left: 30%;
}

#cpwd_mismatch_error{
    /*color: red;*/
    position: absolute;
    left: 34%;
    bottom: 13.5%;
    padding-top: 5%;
    visibility: visible;
}

#cpwd_mismatch_error_reg{
    /*color: red;*/
    position: absolute;
    left: 34%;
    bottom: 40%;
    padding-top: 5%;
    visibility: visible;
}

#username_error,#pwd_error,#cpwd_empty_error,#cpwd_mismatch_error,
#username_error_reg,#pwd_error_reg,#cpwd_empty_error_reg,#cpwd_mismatch_error_reg,
#email_error,#name_error{
    visibility: hidden;
}
/*#pwd_error{
    visibility: hidden;
}
#cpwd_empty_error{
    visibility: hidden;
}*/

h4{
    margin-top:1%; 
}
span{
    font-size: 25px;
}
.banner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color:white;
    min-height: 60px;
    border-bottom: 1px solid rgba(0,0,0,.0975);
}

footer {
    border-top: 1px solid rgba(0,0,0,.0975);
    padding: 10px;
    background-color:white;
    min-height: 60px;
    text-align: right;
}

.banner > *, footer > * {
    margin: 10px 25px;
}



.nav{
    list-style-type: none;
    padding: 0;
    
}

.lgout{
    visibility: hidden;
    position: absolute;
    top: 2.5%;
    right:9%;
}


.nav-item{
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 5px;
    display: inline;
    list-style-type: none;
}



/* Add your styles here */